/* // `xs` returns only a ruleset and no media query */
/* // ... { ... } */

/* // `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    /* nav part  */
    .navbar-toggler i {
        color: white;
        border: white solid 2px;
        padding: 5px 10px;
        border-radius: 7px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_menu ul {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .read_blog_more {
        margin-bottom: 20px;
    }

    .all_put{
        text-align: center;
    }

    .all_put input{
        margin-top: 20px;
    }

    .footer_head h2 {
        font-size: 20px;
    }

    .footercutton{
        margin-top: 20px;
    }

    .footer_text{
        margin-top: -40px;
    }
 }

/* // `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    /* nav part  */
    .navbar-toggler i {
        color: white;
        border: white solid 2px;
        padding: 5px 10px;
        border-radius: 7px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_menu ul {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }


 }

/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    /* nav part  */
    .navbar-toggler i {
        color: white;
        border: white solid 2px;
        padding: 5px 10px;
        border-radius: 7px;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    .main_menu ul {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .read_blog_more{
        margin-bottom: 20px;
    }

    .all_put{
        text-align: center;
    }

    .all_put input{
        margin-bottom: 20px;
    }

    .footer_text p{
            margin-top: -43px;
    }
    
 }

/* // `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }

/* // `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) { 

 }